:root {
  --black: rgba(0, 0, 0, 1);
  --dark-grey: rgba(0, 0, 0, 0.60);
  --light-grey: rgba(238, 238, 238, 1);
  --white: rgba(255, 255, 255, 1);
  --red: rgba(225, 98, 89, 1);
  --box-shadow: rgba(0, 0, 0, 0.20);
}

.App {
  background-color: var(--white);
  padding: 2.5rem 2rem;
  color: var(--black);
}

a {
  color: var(--red);
  text-decoration: none;
}

a:hover {
  opacity: 60%;
}

/* @@@ DESKTOP @@@ */
@media only screen and (min-width: 1200px) {
  .App {
    padding: 2.5rem 7.5rem;
  }
}